<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.yczd.api.aio.user.domain" />
	</typeAliases>
	<mappers>
		<mapper
			resource="mybatis/com/yczd/api/aio/good/dao/mapper/GoodMapper.xml" />
		<mapper
			resource="mybatis/com/yczd/api/aio/shop/dao/mapper/ShopMapper.xml" />
		<mapper
			resource="mybatis/com/yczd/api/aio/auth2/dao/mapper/AuthorityMapper.xml" />
		<mapper
			resource="mybatis/com/yczd/api/aio/auth2/dao/mapper/CredentialsMapper.xml" />
	</mappers>

</configuration>
