<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yczd.api.aio.user.dao.UserMapper">
    <select id="findAll"
			resultType="com.yczd.api.aio.user.domain.User">
        SELECT
        	user_id AS userId
           ,user_name AS userName
           ,password AS password
           ,gender AS gender
           ,name AS name
           ,age AS age
        FROM
        	user
    </select>
    <select id="findById" parameterType="java.lang.String"
    		resultType="com.yczd.api.aio.user.domain.User">
        SELECT
        	user_id AS userId
           ,user_name AS userName
           ,password AS password
           ,gender AS gender
           ,name AS name
           ,age AS age
        FROM
        	user u
        WHERE
        	u.user_id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId"
    		parameterType="com.yczd.api.aio.user.domain.User">
        INSERT INTO user(
        	user_name
           ,password
           ,gender
           ,name
           ,age
           )
         VALUES (
            #{userName}
           ,#{password}
           ,#{gender}
           ,#{name}
           ,#{age}
           )
    </insert>
    <update id="update" parameterType="com.yczd.api.aio.user.domain.User">
        UPDATE user set
            user_id = #{userId}
           ,user_name = #{userName}
           ,password = #{password}
           ,gender = #{gender}
           ,name = #{name}
           ,age = #{age}
        WHERE
        	user_id = #{userId}
    </update>
    <select id="findByName" parameterType="java.lang.String"
			resultType="com.yczd.api.aio.user.domain.User">
        SELECT
        	user_id AS userId
           ,user_name AS userName
           ,password AS password
           ,gender AS gender
           ,name AS name
           ,age AS age
        FROM
        	user u
        WHERE
        	u.user_name = #{userName}
    </select>
    <delete id="delete"
			parameterType="com.yczd.api.aio.user.domain.User">
        DELETE
        	user
        WHERE
        	user_id = #{userId}
    </delete>
</mapper>
